.Backup-container {
  width: 100%;
  height: 95%;
  background-color: #1d1d1b;
  display: flex;
  flex-direction: column;
}

.Backup-header {
  display: flex; 
  justify-content: flex-end; 
  align-items: center; 
  width: 100%; 
  padding: 15px 20px; 
}

.Backup-title {
  width: 100%;
  font-size: 2rem;
  font-weight: 800;
  text-align: center; 
  margin: 0;
  color: #f2f2f2;
  position: relative;
}

.Backup-actions {
  position: absolute;
  display: flex;
  gap: 10px;
  z-index: 10;
}

.Backup-table-container {
  flex: 1;
  overflow-y: auto; 
  border-top: 3px solid #818181;
  border-bottom: 3px solid #818181;
  border-radius: 5px;
  margin-bottom: 2px;
}

.Backup-table{
  width: 100%;
  height: 100%;
  color: #f2f2f2;;
  border-collapse: collapse;
  text-align: center;
}

.Backup-table th,
.Backup-table td {
  border-top: 3px solid #343434;
  border-bottom: 3px solid #343434;
}

.Backup-table th {
  background-color: #2a3176;
  border: 0px solid #2a3176;
  font-weight: bold;  
  position: sticky;
  padding: 5px;
  top: 0;
}

.Backup-btn {
  border: 3px solid #818181;
  padding: 6px 12px;
  color: #f2f2f2;
  background: #1d1d1b;
  cursor: pointer;
}

.Backup-btn:hover {
  background-color: #2a3176;
}

.link {
  background: none;
  border: none;
  color: #f2f2f2;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}

